<section
  class="text-white bg-black flex flex-col items-center h-[100vh] py-5 px-44"
>
<div class="flex justify-center">
  <h2 class="text-blue-600 font-bold text-center text-5xl pb-3 relative w-fit">
    About us
    <div class="absolute border w-full h-full top-0  bg-base-blue  blur-[100px]"></div>
  </h2>
</div>

  <p class=" font-normal text-xl text-center  tracking-normal pb-3">
    In 2015, four students competed in the TMR, reaching a pass to the
    international; There, they met people from other countries and noticed the
    potential that Mexico could have.Motivated, they started RoBorregos,
    intending to share knowledge and experiences through generations.
  </p>
  <div class="flex-grow w-full relative pb-10 ">
    <iframe
      class="w-full h-full   filter brightness-[.65] absolute"
      src="https://www.youtube.com/embed/LT7QiBrgZ4w"
      title="Por qué somos RoBorregos"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    >
    </iframe>
    <div class="absolute left-2 bottom-2 w-[30vw]">
      <h2 class="font-bold text-[3.5vw] tracking-wide">
        Why are we RoBorregos?
      </h2>
    </div>
  </div>
  <!-- <div className="why-are-we-roborregos">
    <iframe
      className="roborregos-video"
      src="https://www.youtube.com/embed/LT7QiBrgZ4w?controls=0"
      title="Roborregos video"
      frameBorder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowFullScreen
    />
    <div className="roborregos-video-caption">
      <h className="roborregos-video-caption-title">
        Why are we RoBorregos?
      </h>
    </div>
  </div> -->
</section>
