---
import Title from "../components/Title.astro";
---

<div class="h-full w-full">
    <Title title="Members" description="RoBorrego's community is made by students with different skills in robotics, logistics and networking, all joined with a passion for exploring new technologies and sharing their knowledge with everybody." />
</div>
