---
import TypeWriter from "./TypeWriter"
---

<div class="bg-Homebg  bg-no-repeat text-white bg-cover  h-screen ">
  <div
    class="h-screen flex flex-col pt-36 items-center bg-Homebgdegra"
  >
    <div class="w-[296px] h-[216px] ">
      <img src="/images/LogoHome.svg" alt="Logo" />
    </div>
    <h1 class="font-tomorrow text-7xl">ROBORREGOS</h1>
    <div class="flex  items-center justify-center mt-4 font-normal text-4xl">
      We <span class="invisible">/</span><TypeWriter  client:only/>
    </div>

  </div>
</div>
