<div class="flex flex-row justify-between">
    <svg
        class="w-1/5 md:w-auto"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="400"
        zoomAndPan="magnify"
        viewBox="0 0 300 299.999988"
        height="400"
        preserveAspectRatio="xMidYMid meet"
        version="1.0"
        ><path
            stroke-linecap="butt"
            transform="matrix(0.75, 0, 0, 0.75, -1.652179, 55.667383)"
            fill="none"
            stroke-linejoin="miter"
            d="M -0.000219676 0.50078 L 146.249792 0.50078 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.75, 0, 0, 0.75, 79.544275, 136.195726)"
            fill="none"
            stroke-linejoin="miter"
            d="M -0.00174127 0.499448 L 76.164932 0.499448 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.505634, 0.553926, -0.553926, 0.505634, 108.587582, 56.044061)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.00168768 0.498145 L 41.535816 0.500097 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.75, 0.000000000000000272, -0.000000000000000272, 0.75, 0.570028, 151.329244)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.000378745 0.498507 L 78.239968 0.498507 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.75, 0, 0, 0.75, -1.653339, 253.73365)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.00132743 0.500966 L 141.579464 0.500966 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.75, 0, 0, 0.75, 129.762725, 79.303777)"
            fill="none"
            stroke-linejoin="miter"
            d="M -0.00134167 0.501214 L 80.331998 0.501214 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.586327, 0.467675, -0.467675, -0.586327, 119.018749, 242.731226)"
            fill="none"
            stroke-linejoin="miter"
            d="M -0.000722702 0.500382 L 24.956197 0.500151 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.605282, -0.44287, 0.44287, 0.605282, 59.250832, 151.097126)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.00146642 0.498876 L 34.758109 0.502235 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.749984, 0.00492355, -0.00492355, 0.749984, 118.791558, 241.875009)"
            fill="none"
            stroke-linejoin="miter"
            d="M -0.0000448365 0.499999 L 76.163065 0.500008 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.591169, 0.46154, -0.46154, 0.591169, 175.907248, 242.625259)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.000114993 0.501656 L 24.249439 0.500588 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.749984, 0.00492355, -0.00492355, 0.749984, 190.013354, 254.108679)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.00110753 0.500931 L 76.164217 0.50094 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.75, 0.000000000000000248, -0.000000000000000248, 0.75, 1.229326, 178.688539)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.00152395 0.498615 L 85.850489 0.498615 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.649519, 0.375, -0.375, 0.649519, 66.056962, 178.538585)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.00184202 0.49884 L 33.061958 0.500218 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.75, 0.000000000000000482, -0.000000000000000482, 0.75, 87.345841, 191.071201)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.00241998 0.498815 L 44.179507 0.498815 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.75, 0, 0, 0.75, -2.4045, 40.725261)"
            fill="none"
            stroke-linejoin="miter"
            d="M -0.0023336 0.501736 L 118.909134 0.501736 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.605282, -0.44287, 0.44287, 0.605282, 86.773821, 40.493157)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.0000541018 0.501819 L 34.759772 0.500975 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.75, 0, 0, 0.75, 108.034384, 25.029256)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.00102916 0.497451 L 42.745824 0.497451 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.75, -0.000000000000000372, 0.000000000000000372, 0.75, 0.000006, 230.624981)"
            fill="none"
            stroke-linejoin="miter"
            d="M -0.000008 0.500025 L 118.958335 0.500025 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.586327, 0.467675, -0.467675, -0.586327, 103.708841, 219.622571)"
            fill="none"
            stroke-linejoin="miter"
            d="M -0.00269168 0.50004 L 24.954228 0.499809 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.749994, 0.00291907, -0.00291907, 0.749994, 103.480646, 218.766311)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.00170569 0.499083 L 64.231363 0.499094 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.75, 0, 0, 0.75, -1.083317, 119.955612)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.00171424 0.501893 L 66.09547 0.501893 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.586327, 0.467675, -0.467675, -0.586327, 63.587624, 109.035027)"
            fill="none"
            stroke-linejoin="miter"
            d="M -0.00148438 0.498263 L 24.955436 0.498033 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.749984, 0.00492355, -0.00492355, 0.749984, 63.36044, 108.178782)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.0018703 0.501207 L 76.16498 0.501216 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.591169, 0.46154, -0.46154, 0.591169, 120.568436, 108.556448)"
            fill="none"
            stroke-linejoin="miter"
            d="M -0.00220218 0.500925 L 24.247122 0.499857 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.749984, 0.00492355, -0.00492355, 0.749984, 134.67455, 120.039871)"
            fill="none"
            stroke-linejoin="miter"
            d="M -0.000291566 0.498935 L 76.162818 0.498944 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.645862, -0.381264, 0.381264, 0.645862, 119.120298, 191.007347)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.000614679 0.503078 L 32.177951 0.500777 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.75, -0.000000000000000465, 0.000000000000000465, 0.75, 140.092187, 178.774555)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.00208352 0.49851 L 47.757296 0.49851 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.606899, -0.440652, 0.440652, -0.606899, 161.126741, 41.098425)"
            fill="none"
            stroke-linejoin="miter"
            d="M -0.00212432 0.498412 L 34.247785 0.500837 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.75, -0.000000000000000093, 0.000000000000000093, 0.75, 161.355214, 40.725261)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.00034017 0.501736 L 114.370141 0.501736 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path></svg
    >
    <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="400"
        zoomAndPan="magnify"
        viewBox="0 0 300 299.999988"
        height="400"
        preserveAspectRatio="xMidYMid meet"
        version="1.0"
        ><path
            stroke-linecap="butt"
            transform="matrix(-0.75, 0, 0, -0.75, 299.236856, 234.464057)"
            fill="none"
            stroke-linejoin="miter"
            d="M -0.00190038 0.498951 L 146.248112 0.498951 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.75, 0, 0, -0.75, 219.830832, 116.180916)"
            fill="none"
            stroke-linejoin="miter"
            d="M -0.00159894 0.501638 L 76.165074 0.501638 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.505634, -0.553926, 0.553926, -0.505634, 189.00336, 234.087389)"
            fill="none"
            stroke-linejoin="miter"
            d="M -0.00217819 0.499685 L 41.539308 0.501302 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.75, -0.000000001309, 0.000000001309, -0.75, 298.805636, 101.047396)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.00126466 0.500694 L 78.240854 0.500694 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.75, 0, 0, -0.75, 299.237912, 36.397783)"
            fill="none"
            stroke-linejoin="miter"
            d="M -0.000492384 0.499127 L 141.577644 0.499127 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.75, 0, 0, -0.75, 167.828356, 210.827649)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.000308392 0.499366 L 80.333648 0.499366 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.586327, -0.467675, 0.467675, 0.586327, 178.574787, 47.400191)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.00158676 0.497944 L 24.955259 0.501784 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.605282, 0.44287, -0.44287, -0.605282, 240.124263, 101.279509)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.000280799 0.500711 L 34.759999 0.499867 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.749984, -0.00492355, 0.00492355, -0.749984, 178.79775, 48.256436)"
            fill="none"
            stroke-linejoin="miter"
            d="M -0.000771527 0.498181 L 76.162338 0.49819 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.591169, -0.46154, 0.46154, -0.591169, 121.679506, 47.506194)"
            fill="none"
            stroke-linejoin="miter"
            d="M -0.000142851 0.499556 L 24.245076 0.501694 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.749984, -0.00492355, 0.00492355, -0.749984, 107.57596, 36.022761)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.000390396 0.499106 L 76.1635 0.499115 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.75, -0.000000001309, 0.000000001309, -0.75, 299.996494, 189.557519)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.000534068 0.498567 L 85.849499 0.498567 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.649519, -0.375, 0.375, -0.649519, 235.161198, 189.707459)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.0011275 0.499175 L 33.061244 0.500553 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.75, -0.000000001309, 0.000000001309, -0.75, 213.877035, 177.174845)"
            fill="none"
            stroke-linejoin="miter"
            d="M -0.00249509 0.498751 L 44.1798 0.498751 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.75, 0, 0, -0.75, 300.462901, 256.214072)"
            fill="none"
            stroke-linejoin="miter"
            d="M -0.00259078 0.498971 L 118.908877 0.498971 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.605282, 0.44287, -0.44287, -0.605282, 211.280101, 256.44613)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.000898158 0.498936 L 34.757541 0.502295 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.75, 0, 0, -0.75, 190.015097, 271.910075)"
            fill="none"
            stroke-linejoin="miter"
            d="M -0.000704157 0.499892 L 43.671174 0.499892 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.75, 0.000000001309, -0.000000001309, -0.75, 297.590782, 59.506452)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.00125166 0.498186 L 118.959595 0.498186 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.586327, -0.467675, 0.467675, 0.586327, 193.884689, 70.508857)"
            fill="none"
            stroke-linejoin="miter"
            d="M -0.000364737 0.497595 L 24.956555 0.497364 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.749994, -0.00291908, 0.00291908, -0.749994, 194.10437, 71.365101)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.0004907 0.502428 L 64.230148 0.502439 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.75, 0, 0, -0.75, 300.462111, 132.421028)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.00156475 0.498871 L 66.09532 0.498871 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.586327, -0.467675, 0.467675, 0.586327, 235.791695, 143.341613)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.000273309 0.50353 L 24.953122 0.500052 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.749984, -0.00492355, 0.00492355, -0.749984, 236.014645, 144.197859)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.00196399 0.498184 L 76.165074 0.498193 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.591169, -0.46154, 0.46154, -0.591169, 178.804107, 143.820192)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.000667316 0.501459 L 24.242681 0.499491 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.749984, -0.00492355, 0.00492355, -0.749984, 164.700549, 132.336772)"
            fill="none"
            stroke-linejoin="miter"
            d="M -0.000144456 0.501124 L 76.162965 0.501133 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.645862, 0.381264, -0.381264, -0.645862, 182.105924, 177.238697)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.000257529 0.502789 L 32.177594 0.500488 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.75, 0, 0, -0.75, 161.130374, 189.471503)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.00195759 0.498462 L 47.75717 0.498462 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(0.606899, 0.440652, -0.440652, 0.606899, 136.924346, 255.840886)"
            fill="none"
            stroke-linejoin="miter"
            d="M -0.000812649 0.500912 L 34.246035 0.499124 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path><path
            stroke-linecap="butt"
            transform="matrix(-0.75, 0, 0, -0.75, 136.696605, 256.214072)"
            fill="none"
            stroke-linejoin="miter"
            d="M 0.00172365 0.498971 L 114.371525 0.498971 "
            stroke="#ffffff"
            stroke-width="1"
            stroke-opacity="1"
            stroke-miterlimit="4"></path></svg
    >
</div>

<style>
    path {
        stroke:;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: move 5s linear forwards;
    }

    /* order
               1 - 1 4 5 12 15 18 21
               2 - 3 7 8 13 16 19 22 10
               3 - 2 6 3 14 17 20 23
               4 - 10 24 26 28
               5 - 11 25 27 29
             */

    path:nth-child(3),
    path:nth-child(7),
    path:nth-child(8),
    path:nth-child(13),
    path:nth-child(16),
    path:nth-child(19),
    path:nth-child(22) {
        animation-delay: 0.3s;
    }

    path:nth-child(2),
    path:nth-child(6),
    path:nth-child(14),
    path:nth-child(17),
    path:nth-child(20),
    path:nth-child(23) {
        animation-delay: 0.4s;
    }

    path:nth-child(9),
    path:nth-child(10),
    path:nth-child(24),
    path:nth-child(26),
    path:nth-child(28) {
        animation-delay: 0.7s;
    }

    path:nth-child(11),
    path:nth-child(25),
    path:nth-child(27),
    path:nth-child(29) {
        animation-delay: 0.9s;
    }

    @keyframes move {
        to {
            stroke-dashoffset: 0;
        }
    }
    /* path {
                stroke-dasharray: 18;
                animation: move 35s linear infinite;
            }
        
            @keyframes move {
                to {
                    stroke-dashoffset: 1000;
                }
            } */
</style>
