---
import clsx from "clsx";
interface Props {
    title: string;
    info: string;
    image: string;
    right?: boolean;
    id: string
}

const { title, info, image, right, id } = Astro.props;


---

<div
    class="absolute flex flex-col bg-black py-6 px-6 border-1 border-blue-900 rounded-lg shadow-[0px_0px_50px_-15px] shadow-blue-500 w-1/4 h-min"
    id={id}
>
    <div class="text-blue-600 font-bold text-center pb-5 text-xl">
        {title}
    </div>

    <div
        class={clsx(
            "text-white font-thin pb-4",
            right ? "text-right" : "text-left",
        )}
    >
        {info}
    </div>
    <img class="rounded-lg w-full" src={image} />
</div>
