---
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<script>
    const words = ["Members", ":o", "Rbrgss"];
    let i = 0;
    let j = 0;
    let currentWord = "";
    let isDeleting = false;

    const type = () => {
        currentWord = words[i];
        let t = document.getElementById("typewriter");
        if (t) {
            if (isDeleting) {
                t.textContent = currentWord.substring(0, j - 1);
                j--;
                if (j == 0) {
                    isDeleting = false;
                    i++;
                    if (i == words.length) {
                        i = 0;
                    }
                }
            } else {
                t.textContent = currentWord.substring(0, j + 1);
                j++;
                if (j == currentWord.length) {
                    isDeleting = true;
                }
            }
        }
        setTimeout(type, 200);
    };

    type();
</script>

<div class="text-center relative h-96">
    <div
        class="bg-blue-500 rounded-full blur-3xl z-20 absolute opacity-40 left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 w-1/4 aspect-square"
    >
    </div>
    <div
        class="z-50 absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 flex flex-col"
    >
        <!-- <h1 id="typewriter" class="text-4xl font-bold"></h1> -->
        <h1 id="typewriter" class="text-white font-mono font-bold text-5xl">
            {title}
        </h1>
        <p class="text-white">
            {description}
        </p>
    </div>
</div>
