---
import GalleryCarrousell from "./GalleryCarrousell";
---

<section class="w-full  bg-black text-white text-center py-10 pb-10">
  <div class="flex justify-center">
    <h2
      class="text-blue-600 font-bold text-center text-5xl pb-3 relative w-fit"
    >
      Gallery
      <div
        class="absolute border w-full h-full top-0 bg-base-blue blur-[100px]"
      >
      </div>
    </h2>
  </div>
  <p class="font-normal text-xl text-center tracking-normal pb-3">
    All of us experiences
  </p>

  <GalleryCarrousell client:only/>
</section>
