---
import Robot from "./Robot.astro";
---

<section class="bg-black relative">
  <Robot />

  <div id="Part1Model3D" class="flex h-screen z-40">
    <div class="w-1/2 flex justify-center items-center"></div>
    <div class="w-1/2 flex flex-col justify-center items-center">
      <h3>Primera PARTE</h3>
      <div>cartita de ale</div>
    </div>
  </div>
  
  <div id="Part2Model3D" class="flex h-screen">
    <div class="w-1/2 flex flex-col justify-center items-center">
      <h3>SEGUNDA PARTE</h3>
      <div>cartita de ale</div>
    </div>
    <div class="w-1/2 flex justify-center items-center"></div>
  </div>
</section>
